/*
.col-xs-12{
	margin: 0 auto;
	align-content: center;
	justify-content: center;
	align-self: center;
}*/

.StoreName{
	font-family: Arial;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
}

.asd{
	background-color: Red;
}
.form-group{

	padding-top: 70px;
}



img.logo{

	height: 250px;
	width: 250px;
	margin-top: 50px;
	margin-left: 525px;}

p.acc{
	margin-top: -30px;
	margin-left: 550px;
	font-family: Arial;
	letter-spacing: 2pt;
	font-size: 16pt;
	color: #999999;
	font-weight: all;}

.receipt{
	background-color: White;
}


p.order{
	text-align: center;
	padding-top: 70px;
	font-size: 16pt;
	color: White;
	
}

