.CashTendered{
	text-align: center;
	height: 40px;
	width: 250px;
}

.asd{
	background-color: White;
}

p.order{
	padding-top: 100px;
	font-size: 14pt;
	letter-spacing: 0.6pt;
	color: White;
	
}

input.search{
	padding-left: 20px;
	width: 300px;
	height: 50px;
	border-radius: 50px;
}

img.logo{

	height: 250px;
	width: 250px;
	margin-top: 50px;
	margin-left: 525px;}

p.acc{
	margin-top: -30px;
	margin-left: 550px;
	font-family: Arial;
	letter-spacing: 2pt;
	font-size: 16pt;
	color: #999999;
	font-weight: all;}

.receipt{
	border: solid 1px #B03A2E;
	height: 600px;
	background-color: White;
}
.products{
	background-color: #FA8072;
	padding-left: 5px;
}

.BtnProd{
	color: White;
	border-style: none;
	background-color: #ED2939;
	margin-top: 20px;
	height: 50px;
	width: 120px;

}
.BtnProd:hover{
	background-color: #FA8072;
}

.BtnRcpt{
	text-align: center;
	
	margin: 20px;
	height: 40px;
	width: 80px;
}

p.prod{
	text-align: center;
	font-size: 16pt;
	color: White;
	
}
img.admin_logo{
	width: 200px;
	height:200px;

}

input.BtnAdmin{
	border-style: none;
	color: #17202A;
	font-weight: bold;
	background-color: #D0D3D4;
	width: 120px;
	height: 50px;
}

input.BtnAdmin:hover{
	color: #D0D3D4;
	background-color: Black;
}

div.content{
	border: solid;
	border-width: 25px;
	border-color: Grey;

}
div.menu-div{
	text-align: center;
	border-top: solid;	
	border-top-color: Red;
	border-width: 3px;

}

input.view_inv{

	width: 185pt;
	height: 30pt;
	border-style: none;
	margin-top: 50px;
	background-color: Red;
	color: White;
	font-weight: bold;
	font-size: 12pt;
	letter-spacing: 0.5pt;
	border-radius: 3px;
}

input.view_inv:hover{
	background-color: Salmon;
	color: White;
}

input.report{
	margin-top: 20px;
	width: 185pt;
	height: 30pt;
	border-style: none;
	background-color: Red;
	color: White;
	font-weight: bold;
	font-size: 12pt;
	letter-spacing: 0.5pt;
	border-radius: 3px;
}

input.report:hover{
	background-color: Salmon;
	color: White;
}


div.acc_type{
	padding: inherit;
	margin-top: 50px;
	margin-left: 300px;
}
select.acc_type{
	border-color: Grey;
	border-style: solid;
	border-width: 1pt;
	width: 350px;
	height: 50px;
	font-size: 12pt;
	border-radius: 3px;
}
input.inp{
	margin-top: 10px;
	width: 350px;
	height: 50px;
	font-size: 12pt;
	border-radius: 3px;
	border-style: solid;
	border-width: 1pt;
	border-color: Grey;
}

input.age{
	border-style: solid;
	border-width: 1pt;	
	margin-top: 10px;
	width: 50px;
	height: 60px;
	font-size: 12pt;
	border-radius: 3px;
	border-color: Grey;

}
select.gender{
	
	margin-top: -75px;
	margin-left: 65px;
	width: 290px;
	height: 55px;
	font-size: 12pt;
	border-radius: 3px;
	border-style: solid;
	border-width: 1pt;
	border-color: Grey;
}

input.add_acc{
	background-color: Grey;
	color: White;
	margin-top: 60px;
	margin-left: 500px;
	border-radius: 3px;
	border: none;
	width: 150px;
	height: 35px;
}
input.add_acc:hover{
	background-color: Black;
	color: Grey;
}
/* Modal css*/
/*	.modal {
		    display: none; /* Hidden by default */
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    padding-top: 100px; /* Location of the box */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: auto; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		} 

		/* Modal Content */
		.modal-content {
			padding: 10px;
			margin-left: 100px;
		    background-color: White;
		    width: 450px;
		    height: 250px;
		    border: 1px solid Grey;
		    text-align: center;
		    font-size: 16pt;
		    font-weight: bold;
		   
		}

		/*ADD ACCOUNT*/

	div.div_body{

			text-align: center;

		}

