
.StoreName{
	font-family: Arial;
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
}

.Separator{
	text-align: center;
	font-weight: normal;
}

.asd{
	background-color: #ED2939;
}

p.order{
	padding-top: 100px;
	font-size: 14pt;
	letter-spacing: 0.6pt;
	color: White;
	
}

input.search{
	padding-left: 20px;
	width: 300px;
	height: 50px;
	border-radius: 50px;
}
.form-group{

	padding-top: 70px;
}

img.logo{

	height: 250px;
	width: 250px;
	margin-top: 50px;
	margin-left: 525px;}

p.acc{
	margin-top: -30px;
	margin-left: 550px;
	font-family: Arial;
	letter-spacing: 2pt;
	font-size: 16pt;
	color: #999999;
	font-weight: all;}

.receipt{
	background-color: White;
}
.products{
	background-color: #FA8072;
	padding-left: 5px;
}

.BtnProd{
	color: White;
	border-style: none;
	background-color: #ED2939;
	margin-top: 20px;
	height: 50px;
	width: 120px;

}
.BtnProd:hover{
	background-color: #FA8072;
}

.BtnRcpt{
	text-align: center;
	
	margin: 20px;
	height: 40px;
	width: 80px;
}

p.prod{
	text-align: center;
	font-size: 16pt;
	color: White;
	
}

